{% extends "startpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-section">
                <form action="" method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                            {{login_form.as_p}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit" id="login_btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}